# skip php storm workspace

.idea/*

# skip phalcon workspace
.phalcon/*
# skip cache workspace
cache/*
# skip composer repository and build file
vendor/*
composer.lock
# skip public/subdirectorie
# skip directories containing gitkeep files
!**/.gitkeep
# ignore any local confg file!
**/local.php